body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.pane p {
  font-size: 1.8em;
  margin-bottom: 20px;
  margin-top: 20px;
}
#pane1 {
  height: 100%;
  width: 80%;
  margin: 50px auto;
}
#logoPane {
  width: 100%;
  float: none;
  margin-top: 20px;
  margin-left: 0;
}
#logoPane img {
  display: block;
  margin: 0 auto;
}
.tick text {
  font-size: 12px;
}
.c3-chart-arcs-title {
  font-size: 20px;
  fill: #808080;
  font-weight: 300;
}
.venntooltip {
  position: absolute;
  left: 100px;
  bottom: 60px;
  text-align: center;
  width: 128px;
  height: 24px;
  background: #333;
  color: #ddd;
  padding: 8px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}
