body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.pane p {
  font-size: 1.8em;
}
#pane1 {
  margin: auto;
}
.venntooltip {
  position: absolute;
  left: 100px;
  bottom: 60px;
  text-align: center;
  width: 128px;
  height: 24px;
  background: #333;
  color: #ddd;
  padding: 8px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}
